## Build generated
build/
DerivedData/

## Various settings
xcuserdata/

Pods/

.env
Private/

.DS_Store
.DS_Store
.DS_Store

# Sensitive configuration
sphinx/Config.swift
sphinx/Secrets.debug.xcconfig
sphinx/Secrets.release.xcconfig

